
    <style>
 
      
      form { }
      form input { border: 0;  }
      
      .message-box {
          height: 400px;
      }
      .msgcon{
            width: 55%;
      }

      .time{
          width: 12%;
      }

      .nick{
          width: 5%;
      }
      
      #messages li { margin-bottom: 10px; color: black}
      #messages { margin-bottom: 40px; max-height: 600px; overflow: scroll; }
    </style>


   

    <div class='container'>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button"  id='userlist' class="btn btn-secondary" data-toggle="modal" data-target="#users">Users</button>
        <a href="/chatout/{{chatroom_id}}"  type="button" class="btn btn-secondary">Leave </a>
        <button type="button"  id='toomuchbtn' class="btn btn-secondary" data-toggle="modal" data-target="#toomuch">TooMuchTalker</button>
        <a href="/"  type="button" class="btn btn-secondary">Back </a>
        <button type="button"  id='noticebtn' class="btn btn-secondary" data-toggle="modal" data-target="#notice">Notice</button>
        <button type="button"  id='banlistbtn' class="btn btn-secondary" data-toggle="modal" data-target="#banlist">ban</button>
    </div>


    <!-- User Modal -->
    <div class="modal fade" id="users" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Users</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
           
            <div id="userlist-result"> </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>

    {{!-- TOOMUCH NODAL--}}
    <div class="modal fade" id="toomuch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Too Much Talker</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
           <div id='result'></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>

    {{!-- NOTICE NODAL--}}
    <div class="modal fade" id="notice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Notice</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
           <div id='notice-result'></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
    {{!-- BANLIST NODAL--}}
    <div class="modal fade" id="banlist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ban</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
           <div id='banlist-result'></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>

        <div class='message-box'>
            <br>
            <ul id="messages" >
                {{#each msgs}}
                    <li class="setnotice list-group-item list-group-item-action list-group-item-light d-flex justify-content-between align-items-center">
                        <input type="hidden" name="msgid" value='{{this.msg_id}}'>
                        <p class="msgcon">{{this.content}}</p>
                        <small class="text-muted nick">{{this.user_nickname}}</small>
                        <small class="text-muted time">{{this.datetime}}</small>
                        <span class="badge badge-primary badge-pill">{{this.mcount}}</span>
                    </li>
                {{/each}}
            </ul>
            <form action="">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="m" autocomplete="off"  >
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="submit">Send</button>
                    </div>
                </div>
            </form>
        </div>
         

    </div>




    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(function () {
        $('#messages').animate({scrollTop:1000000},'100');
        var socket = io();
        $('form').submit(function(){
          socket.emit(`chat`, {nick:`{{nick}}`, user:`{{user_id}}`, id:`{{chatroom_id}}`, msg:$('#m').val()});
          $('#m').val('');
          return false;
        });
        socket.on(`{{chatroom_id}}`, function(m){
        var d = new Date();
          $('#messages').append($(`<li class="setnotice list-group-item list-group-item-action list-group-item-light d-flex justify-content-between align-items-center">`)
              .html(` <input type="hidden" name="msgid" value=${m.msg_id}>
                 <p class='msgcon'> ${m.msg} </p> 
                 <small class="text-muted">${m.nick}</small> 
                 <small class="text-muted">${d.toLocaleTimeString()}</small> 
                 <span class="badge badge-primary badge-pill">1</span>`));
          $('#messages').animate({scrollTop:100000},'50');
        });
        
        socket.on('ban', function(user_id){
            if(user_id == `{{user_id}}`) {
                alert("Goodbye!");
                window.location.href = "/";
            }
        });
      });

      $('#toomuchbtn').click(function(){
          $('#result').html('');
          $.ajax({
              url: `/toomuch/{{chatroom_id}}`,
              dataType: 'html',
              type: 'GET',
              success: function(result){
                      $('#result').html(result);
                  }
              }
          );
      });

        $('#noticebtn').click(function(){
          $('#notice-result').html('');
          $.ajax({
              url: `/notice/{{chatroom_id}}`,
              dataType: 'html',
              type: 'GET',
              success: function(result){
                      $('#notice-result').html(result);
                  }
              }
          );
      });

      $('.setnotice').click(function(){
            $.ajax({
              url: `/setnotice/{{chatroom_id}}/` + $(this).children('input').val(),
              dataType: 'html',
              type: 'GET'
            });
            alert('Set New Notice');
      });

        $('#banlist').click(function(){
          $('#banlist-result').html('');
          $.ajax({
              url: `/banlist/{{chatroom_id}}`,
              dataType: 'html',
              type: 'GET',
              success: function(result){
                      $('#banlist-result').html(result);
                  }
              }
          );
      });

        $('#userlist').click(function(){
          $('#userlist-result').html('');
          $.ajax({
              url: `/userlist/{{chatroom_id}}`,
              dataType: 'html',
              type: 'GET',
              success: function(result){
                      $('#userlist-result').html(result);
                  }
              }
          );
      });

    </script>
